# Build propertes for LSP
# Customize for your system

# http://search.maven.org/remotecontent?filepath=de/jflex/jflex/1.4.3/jflex-1.4.3.jar
JFlex=JFlex.jar

# http://search.maven.org/remotecontent?filepath=org/apache/ant/ant/1.8.2/ant-1.8.2.jar
Ant=ant.jar

# http://search.maven.org/remotecontent?filepath=org/apache/bcel/bcel/5.2/bcel-5.2.jar
BCEL=bcel.jar

# http://search.maven.org/remotecontent?filepath=junit/junit/4.8.2/junit-4.8.2.jar
JUnit=junit.jar

# http://search.maven.org/remotecontent?filepath=javax/servlet/servlet-api/2.5/servlet-api-2.5.jar
Servlet=servlet.jar

# http://search.maven.org/remotecontent?filepath=struts/struts/1.2.9/struts-1.2.9.jar
Struts=struts.jar

# http://downloads.sourceforge.net/project/mav/Maverick/2.2.4/maverick.jar?r=http%3A%2F%2Fsourceforge.net%2Fprojects%2Fmav%2Ffiles%2FMaverick%2F2.2.4%2F&ts=1306005237&use_mirror=puzzle
Maverick=maverick.jar

# http://search.maven.org/remotecontent?filepath=org/jdom/jdom/1.1/jdom-1.1.jar
JDOM=jdom.jar
