/* CSS Stylesheet for LSP documentation */

body { color: black; margin-right: 10%; }

p.element-syntax { 
				   border: solid thin;
				   font-family: monospace;
                 }

.boxed { border: solid thin; }

